//importing fonts from Google

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

// setting variables - colors and breaking point
$primary-dark: hsl(158, 36%, 37%);
$primary-darker: hsl(158, 96%, 22%); //for hoovering the $primary-dark
$primary-light: hsl(30, 38%, 92%);
$neutral-dark: hsl(212, 21%, 14%);
$neutral-darkish: hsl(228, 12%, 48%);
$neutral-white: hsl(0, 0%, 100%);

$break-point: 768px; //setting the breaking point between mobile and desktop display

// START of the SCSS styling

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

main {
  background-color: $primary-light;
  padding: 2rem 1rem;
}

h1 {
  display: none;
}

//container of the card, gives the size of the component - max-width 350px for mobile, 500px&375px for desktop, changes to flexbox for desktop version (displaying photo and text parts in a row, each of them takes 50% of card container)
.card {
  background-color: $neutral-white;
  max-width: 350px;
  border-radius: 10px;
  margin: 0 auto;

  @media (min-width: $break-point) {
    display: flex;
    max-width: 500px;
    height: 375px;
  }
}

//photo for mobile version, is not displayed in desktop version
.card__photo-mobile {
  img {
    display: inline-block;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  @media (min-width: $break-point) {
    display: none;
  }
}

//photo for desktop version, is not displayed in mobile version, takes 50% of the card - flexbox
.card__photo-desktop {
  display: none;

  @media (min-width: $break-point) {
    display: block;
    flex-basis: 50%;
    flex-shrink: 0;
    img {
      display: block;
      width: 100%;
      border-radius: 10px 0 0 10px;
    }
  }
}

// START - CARD COMPONENT
//container for the text part of the component, takes 50% of the card in desktop version - flexbox, includes the styling for texts in the componet
.card__text {
  padding: 0.8rem 1.6rem 1.6rem 1.6rem;
  color: $neutral-darkish;

  h2 {
    font-family: "Fraunces", serif;
    font-size: 1.8rem;
    margin: 0.5rem 0;
    color: $neutral-dark;
  }

  h3 {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;
  }

  .card__description {
    line-height: 1.5;
  }

  @media (min-width: $break-point) {
    flex-basis: 50%;
    flex-shrink: 0;

    h2 {
      line-height: 1.7rem;
    }

    .card__description {
      line-height: 1.4;
    }
  }
}

// displays prices in a row, fully responsive, special styling for price texts
.card__price {
  p {
    display: inline-block;
    vertical-align: middle;
  }

  &-new {
    font-family: "Fraunces", serif;
    color: $primary-dark;
    font-size: 2rem;
    margin: 0.3rem 1rem 0.7rem 0;
  }

  &-old {
    text-decoration: line-through;
  }
}

// button styling
.card__btn {
  color: $neutral-white;
  background-color: $primary-dark;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  display: inline-block;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $primary-darker;
  }

  svg {
    margin-right: 0.3rem;
    vertical-align: sub;
  }

  @media (min-width: $break-point) {
    padding: 0.8rem;
  }
}
// END - CARD COMPONENT

//footer part
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: $neutral-dark;
}
